.deal-list{
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
main{
    position: relative;
}
.deal-item{
    background-color: grey;
    margin-bottom: 30px;
    font-size: 10px;
}
.deal-item-status ul,
.deal-list,
.filter-list,
.sort-list,
.deal-item-status{
    margin: 0;
    padding: 0;
}
.deal-item-status{
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 25px;
}
.settings-wrapper{
    justify-content: space-around;
}
.main nav{
    margin: 0 auto;
}
.filter-item:not(:first-of-type) .btn,
.sort-item:not(:first-of-type) .btn{
    margin-left: 10px;
}
.deal-item-name{
    margin-left: 20px;
    margin-top: 20px;
}
.card .card-img-top{
    background-color: white;
}
.card{
    background-color: #f8f9fa;
}
#wait-element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    opacity: 0.8;
}
#wait-element div{
    position: absolute;
    top: 20%;
    left: 45%;
}